<section id="home-" class="contentpage">

</section>

<section id="tradein" class="contentpage">
  <div class="contentpage_box">
    <div class="tradein-filters">
      <h2>Фильтры</h2>
      <select>
        <option></option>
      </select>
      <div class="slider-price">
          <div class="bar">
              <div class="lp" data-pos="0.1"></div>
              <div class="rp" data-pos="0.8" data-max="56000"></div>
          </div>
      </div>
    </div>
    <div class="tradein-cars">
      <div class="tradein-cars-wrapper">
        <a class="tradein-car-iteam">
          <div class="car-iteam-photo"></div>
          <h3></h3>
          <div class="car-iteam-desc"></div>
          <div class="car-iteam-price"></div>
          <div class="buttonA">Подробнее</div>
        </a>
      </div>
    </div>
  </div>
</section>
