= render 'filters/newcars', models: @models, model: @model, modification: @modification, filter: @model

%section#cars.contentpage
  .contentpage_box
    .cars-box
      %h1 
        Модельный ряд ЛАДА
        = @model.model.upcase
      = render 'model', elements: @elements, has_complectation: true