<h3>Запрос с сайта</h3>
<ul>
  <li><strong>Имя</strong>: <%= @message.name %></li>
  <li><strong>Телефон</strong>: <%= @message.phone %></li>
</ul>
<STRONG>Вопрос посетителя:</STRONG>
<p><%= @message.description %></p>
