

<!-- End fixed right navigation -->   <!-- End fixed right navigation -->
<section id="page-404" class="page-404">

  <%= image_tag '404.jpg', class: 'img-responsive' %>
  <div class="not-found-description-dot">.</div>
  <div class="not-found-description">
    <div class="description__img"><%= image_tag '404-img.png' %></div>
    <h1 class="description__title">Участок дороги № 404</h1>
    <h2 class="description__sub-title">выбирайте <a href="/">пути объезда</a></h2>
  </div>
</section>

