<section id="filters" class="contentpage">
<div class="contentpage_box">
    <h1>Новые автомобили в наличии</h1>
    <div class="fields-box">
        <div class="field-25">
          <select name="model">
            <option disabled>Модель</option>
            <option value="Lada">Lada</option>
            <option value="Lada">Lada</option>
            <option value="Lada">Lada</option>
            <option value="Lada">Lada</option>
          </select>
        </div>
        <div class="field-25">
            <select name="model">
            <option disabled>Модификация</option>
            <option value="Lada">Lada</option>
            <option value="Lada">Lada</option>
            <option value="Lada">Lada</option>
            <option value="Lada">Lada</option>
          </select>
        </div>
          <div class="field-25">
            <select name="model">
            <option disabled>Комплектация</option>
            <option value="Lada">Lada</option>
            <option value="Lada">Lada</option>
            <option value="Lada">Lada</option>
            <option value="Lada">Lada</option>
          </select>
        </div>
          <div class="field-25">
            <select name="model">
            <option disabled>Цвет</option>
            <option value="Lada">Lada</option>
            <option value="Lada">Lada</option>
            <option value="Lada">Lada</option>
            <option value="Lada">Lada</option>
          </select>
        </div>
    </div>
    <div class="slider-price">
        <div class="bar">
            <div class="lp" data-pos="0.1"></div>
            <div class="rp" data-pos="0.8" data-max="56000"></div>
        </div>
    </div>
    <div class="fields-box">
        <div class="refresh">Сбросить все</div>
        <div class="orderby">Сортировка: по цене</div>
    </div>
</div>
</section>
<section id="cars" class="contentpage">
    <div class="contentpage_box">
        <div class="cars-box">
            <a href="" class="car-iteam">
                <div class="car-title">Granta</div>
                <div class="car-price">532 710 ₽</div>
                <div class="car-image"></div>
                <div class="car-sale">Акция  - 70 000 ₽</div>
                <div class="car-modification">
                    <div class="mod-line">
                        <div class="mod-left">Модификация:</div>
                        <div class="mod-right">1.7 MT 8 кл. (83 л. с.)</div>
                    </div>
                    <div class="mod-line">
                        <div class="mod-left">Комплектация:</div>
                        <div class="mod-right">Luxe</div>
                    </div>
                    <div class="mod-line">
                        <div class="mod-left">Цвет:</div>
                        <div class="mod-right">Белое облако (240)</div>
                    </div>
                </div>
            </a>
             <a href="" class="car-iteam">
                <div class="car-title">Granta</div>
                <div class="car-price">532 710 ₽</div>
                <div class="car-image"></div>
                <div class="car-sale">Акция  - 70 000 ₽</div>
                <div class="car-modification">
                    <div class="mod-line">
                        <div class="mod-left">Модификация:</div>
                        <div class="mod-right">1.7 MT 8 кл. (83 л. с.)</div>
                    </div>
                    <div class="mod-line">
                        <div class="mod-left">Комплектация:</div>
                        <div class="mod-right">Luxe</div>
                    </div>
                    <div class="mod-line">
                        <div class="mod-left">Цвет:</div>
                        <div class="mod-right">Белое облако (240)</div>
                    </div>
                </div>
            </a>
             <a href="" class="car-iteam">
                <div class="car-title">Granta</div>
                <div class="car-price">532 710 ₽</div>
                <div class="car-image"></div>
                <div class="car-sale">Акция  - 70 000 ₽</div>
                <div class="car-modification">
                    <div class="mod-line">
                        <div class="mod-left">Модификация:</div>
                        <div class="mod-right">1.7 MT 8 кл. (83 л. с.)</div>
                    </div>
                    <div class="mod-line">
                        <div class="mod-left">Комплектация:</div>
                        <div class="mod-right">Luxe</div>
                    </div>
                    <div class="mod-line">
                        <div class="mod-left">Цвет:</div>
                        <div class="mod-right">Белое облако (240)</div>
                    </div>
                </div>
            </a>
             <a href="" class="car-iteam">
                <div class="car-title">Granta</div>
                <div class="car-price">532 710 ₽</div>
                <div class="car-image"></div>
                <div class="car-sale">Акция  - 70 000 ₽</div>
                <div class="car-modification">
                    <div class="mod-line">
                        <div class="mod-left">Модификация:</div>
                        <div class="mod-right">1.7 MT 8 кл. (83 л. с.)</div>
                    </div>
                    <div class="mod-line">
                        <div class="mod-left">Комплектация:</div>
                        <div class="mod-right">Luxe</div>
                    </div>
                    <div class="mod-line">
                        <div class="mod-left">Цвет:</div>
                        <div class="mod-right">Белое облако (240)</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

